$fz = 75
$c11 = #eb413d
$c12 = #333
$c13 = #4dbd21
$c21 = #666
$c22 = #979797
$c31 = #d0d0d0
$c32 = #dedede
$c33 = #f2f2f2
$c34 = #f7f7f7
$c41 = #fd7c42
$c42 = #4390e0
$c43 = #fb3973
$c44 = #42dd08
$t1 = (38rem/$fz)
$t2 = (36rem/$fz)
$t3 = (34rem/$fz)
$t4 = (32rem/$fz)
$t5 = (30rem/$fz)
$t6 = (26rem/$fz)
$t7 = (24rem/$fz)
$t38 = (38rem/$fz)
$t36 = (36rem/$fz)
$t34 = (34rem/$fz)
$t32 = (32rem/$fz)
$t30 = (30rem/$fz)
$t26 = (26rem/$fz)
$t24 = (24rem/$fz)
$flex()
    display -webkit-box
    display flex
$flex1()
    -webkit-box-flex 1
    flex 1
$ellipsis()
    white-space nowrap
    overflow hidden 
    text-overflow ellipsis
$block()
    display block
$blockimg()
    max-width 100%
    display block
$hmin(p)
    line-height p
    height p
$circle(p)
    width p
    height p
    border-radius 50%